@import url(login.css);

.cadastro-senha {
    display: flex;
    gap: 30px; 
    width: 100%;
}

.campo-senha {
    display: flex;
    flex-direction: column;
    width: 100%; 
}
.cadastro-senha input {
    width: 100%;
}
